*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100%;
    height:100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.first{
    background: rgb(61, 0, 61);
}
header .logo img
{
    mix-blend-mode: screen;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color:goldenrod;
    text-transform: uppercase;
    font-size: 30px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 20px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
    border: 1px solid rgb(250, 215, 0);
    transition: 0.7s ease;
}
header ul li a:hover, .active{
    background: gold;
    color:#fff;
    transform: scale(1.1);
}
.content{
    display: flex;
    position: relative;
}
.content-text{
    align-self: center;
    position: relative;
    color: #fff;
    font-weight: 500;
    padding: 30px;
}
.content-text h1{
    padding: 10px;
font-size: 2.2em;
font-weight: 500;
}
.content-text h2{
    padding-bottom: 50px;
    font-size: 1.6em;
    font-weight: 500;
}
.content-text h3{
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 500;
}
.fa-regular
{
    font-size: 1.8em;
    padding-right: 5px;
}
.contactForm {
    position: relative;
    right: 0px;
    padding: 75px 50px;
    background: rgb(145, 92, 145);
    box-shadow: 0 5px 35px rgba(250, 215, 0, 0.5) ;
    max-width: 600px;
    max-height: 810px;
    width: 100%;
    border-radius: 8px;
    margin-left: 40px;
    margin-bottom: 50px;
}
.contactForm .titleText{
    padding-bottom: 20px;
}
.contactForm h2{
    color: #fff;
    font-weight: 600;
}
.contactForm h2 span{
    color: rgb(194, 165, 2);
    font-size: 2.2em;
}
.contactForm h3 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}
.contactForm .inputBox {
position: relative;
width: 100%;
margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #000;
    display:inline-block ;
    text-decoration: none;
    max-width: 150px;
    transition: 0.5%;
    border: 1px solid rgb(255, 215, 0);
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.9s ease;
}
.contactForm .inputBox input[type="submit"]:hover
{
    background: rgb(255, 215, 0);
    transform: scale(1.1);
}
.logo{
    color: rgb(194, 165, 2);
    font-size: 2.2em;
}
.second h2{
    font-weight: 600;
    text-align: center;
    justify-content: center;
}
.second .images{
    display:flex;
    justify-content: center;
}
.second .images span{
    font-size: 3.5em;
    color: rgb(73, 1, 73);
}
.second .images .text{
    padding: 30px;
    font-size: 1.5em;
    font-weight: 500;
}
.second .videos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second .videos img{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contain{
    margin-left: 40px;
    padding-left: 20px;
    max-width: 500px;
    border-radius: 14px;
    display: flex;
    margin-top: 100px;
    background-color: rgb(53, 0, 53);
    color: #fff;
}
section .contain h2{
    padding-right: 30px
}
section .contain h2 ul li{
    font-size: 0.5em;
    padding-top: 10px;
}
.third .contactForm{
    background-color: rgb(145, 129, 26);
    box-shadow: 0 5px 35px rgba(61, 0, 61,1);
}
.footer{
    color: #fff;
    padding: 15px;
    background-color: rgb(97, 84, 1);
    border-top: 1px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}
.footer p{
    font-weight: 600;
}
.footer p span{
    font-size: 1.5em;
    font-weight: 700;
}